@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="row mb-3 text-center">
    <h1>Welcome to Charlotte Neill's Portfolio</h1>
    </div>
    <div class="row mb-3 text-center">
    <h4> This web application allows me to present a portfolio of evidence showcasing my work </h4>
        <h4>Click the Overview link in the navigation bar to get started!</h4>
    </div>
    <div class="row mb-5">
        <img src="/images/portfolios.jpg"/>
    </div>
</div>
